@import "Root.css";

footer {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 15px;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
}

footer > p {
  font-size: 80%;
  text-align: center;
}

.contatos {
  display: flex;
  justify-content: center;
}

.contatos > ul {
  display: flex;
}

.contatos > ul > li {
  margin: 10px;
  font-size: 80%;
  text-align: center;
}

.redes-sociais {
  list-style: none;
}

.redes-sociais img {
  max-width: 20px;
  max-height: 20px;
}
