@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-nono: "Noto Sans";
  --cinzento-color: #262525;
  --cinzento-claro-color: #525252;
  --pastel-color: #e6ddbc;
  --bordo-claro-color: #822626;
  --bordo-color: #690202;
}
