@import "Root.css";

body {
  overflow-y: auto;
}

.main-sobre-nos {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  columns: 1;
}

.main-sobre-nos p {
  width: 700px;
  font-size: 20px;
  margin-top: 5px;
}
