@import "Root.css";

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-nono);
  box-sizing: border-box;
}

body{
  overflow-y: auto;
}

/* nav styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.3) */
}

.logo-slogan {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
}

.logo-slogan > img {
  max-width: 150px;
  max-height: 150px;
  transform: rotatey(180deg);
}

header > nav > ul {
  display: flex;
}

header > nav > ul > li > a {
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
  font-size: 13px;
}

header > nav > ul > li {
  list-style: none;
}

/* fim nav styles */

main {
  margin-top: 25px;
  margin-bottom: 50px;
}

/* home styles */

.home-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: end;
  font-size: 20px;
  background-image: url('../images/café_faixa.png');
  background-repeat: no-repeat; /* Impede que a imagem se repita */
  background-size: cover; /* Faz com que a imagem cubra todo o background */
  background-position: center; /* Centraliza a imagem no corpo */
  margin: 0;
  padding: 0;
  margin-top: 70px;
}

.home-body > div,
.imagem-main,
.imagem-main > img {
  width: 400px;
}

.home-body p {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 18px;
  
  text-align: center;
  color:var(--pastel-color);
}

/* fim home styles */

/* sobre mim styles */

.main-sobre-nos {
  display: flex;
  justify-content: center;
  text-align: center;
  columns: 1;
}

.main-sobre-nos p {
  width: 700px;
  font-size: 20px;
}

footer{
  margin-top: 80px;
}

footer > p {
  font-size: 80%;
  text-align: center;
}

.contatos {
  display: flex;
  justify-content: center;
}

.contatos > ul {
  display: flex;
}

.contatos > ul > li {
  margin: 10px;
  font-size: 80%;
  text-align: center;

}

.redes-sociais {
  list-style: none;
}

.redes-sociais img {
  max-width: 20px;
  max-height: 20px;
}
