@import "Root.css";

body {
  background-color: #f9f9f9;
}

main {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 1100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.topicoDois {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 25px 25px 0;
  padding: 10px;
  width: 1000px;
}

.swot {
  width: 450px;
  background-color: var(--bordo-color);
  margin: 10px;
  border-radius: 10px;
}

main h2 {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 10px;
  color: var(--pastel-color);
}

.swot > ul > li {
  margin: 5px 0;
  padding: 10px;
  list-style: none;
  color: var(--pastel-color);
}

.opcao-hide {
  margin: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 15px;
}

.forca-explicacao,
.explicacao-fraqueza,
.oportunidade-explicacao,
.ameacas-explicacao {
  width: 600px;
  margin-bottom: 20px;
}

.forca-explicacao li,
.explicacao-fraqueza li,
.oportunidade-explicacao li,
.ameacas-explicacao li {
  margin-bottom: 10px;
  list-style: none;
}

.forca-explicacao {
  display: none;
}

.explicacao-fraqueza {
  display: none;
}

.oportunidade-explicacao {
  display: none;
}

#forcas {
  background-color: #5b8a60;
}

#fraquezas {
  background-color: #7a5a91;
}

#oportunidades {
  background-color: #4b6e8a;
}

#ameacas {
  background-color: #8a4b4d;
}

.ameacas-explicacao {
  display: none;
}

.esquemas {
  text-align: center;
  margin: 2em 0;
}

.esquemas h2 {
  color: var(--cinzento-color);
  font-family: var(--font-nono);
  padding: 10px;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.esquema-imagem1 {
  max-width: 85%;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

.esquema-imagem2 {
  width: 85%;
  height: auto;
  padding: 30px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
}

@media (max-width: 915px) {
  main {
    width: 380px;
    margin-top: 20px;
  }

  .topicoDois {
    margin: auto;
    width: 380px;
  }

  .forca-explicacao,
  .explicacao-fraqueza,
  .oportunidade-explicacao,
  .ameacas-explicacao {
    width: 300px;
  }
}
